<a href="https://colab.research.google.com/github/HEOJIBEOM/Maritime-Data-Minin/blob/main/3rd%20week%20homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
a = [2, 3, 4, 5, 6]
print (a)

rev_a = []
for _ in range(len(a)):
    rev_a.append(a.pop())

print (rev_a)

[2, 3, 4, 5, 6]
[6, 5, 4, 3, 2]

In [41]:
tup = 1, 2, 5, 4, 3, 2, 9, 4, 7, 8, 9, 9, 3, 7, 3
print ('주어진 튜플은:',tup)
temp = sorted(list(tup))

max_count = 1
count = 1
cur_value = max_value = temp[0]

for i in range(1, len(temp)):
  if temp[i] is cur_value:
    count +=1
    if count >= max_count:
      max_count = count
      max_value = cur_value
  else:
      cur_value = temp[i]
      count = 1

print ('가장 많이 나타나는 원소는:', max_value)

주어진 튜플은: (1, 2, 5, 4, 3, 2, 9, 4, 7, 8, 9, 9, 3, 7, 3)
가장 많이 나타나는 원소는: 9

In [50]:
menu = {'Americano' : 3000, 'Ice Americano' : 3500, 'Cappuccino' : 4000, 'Caffe Latte' : 4500, 'Espresso' : 3600}

for key in menu:
  print ("{:16s} 가격 : {:,}원".format(key, menu[key]))

choice = input('위의 메뉴중 하나를 선택하세요:')
if choice in menu.keys():
  print('{}는 {:,}원 입니다. 결제를 부탁합니다.'.format(choice, menu[choice]))
else:
  print('미안합니다. {}는 메뉴에 없습니다.'.format(choice))

Americano        가격 : 3,000원
Ice Americano    가격 : 3,500원
Cappuccino       가격 : 4,000원
Caffe Latte      가격 : 4,500원
Espresso         가격 : 3,600원
위의 메뉴중 하나를 선택하세요:apple
미안합니다. apple는 메뉴에 없습니다.